body {
  background-color: #f6f6f6;
}

a {
  text-decoration: none;
  color: black;
  /*color: #c52f1b;*/
  opacity: 1;
  transition: opacity .30s ease-in-out;
}

a:hover {
  opacity: 0.5;
}

.container {
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header h1 {
  font-family: 'Lobster', cursive;
}

ul {
  list-style-type: none;
  margin-right: 3%;
}

ul li {
  display: inline;
  margin: 2vw;
  /*border: 1px solid white;*/
}

.navBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100vw;
  background-color: #f6f6f6;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  width: 90%;
}

.info {
  font-family: 'Raleway';
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  border-radius: 5px;
}

.pic {
  height: auto;
  width: 90%;
  position: relative;
  z-index: 1;
  transition: opacity .40s ease-in-out;
}

.pic:hover {
  opacity: .2;
}

.text {
  height: auto;
  width: 600px;
  z-index: 0;
  position: absolute;
  text-align: center;
}

.text:hover {
  z-index: 2;
}
