<div class='text'>
  <p class='info'>Hi, thanks for checking out my site! My name is Scott Christensen. I grew up in Evergreen, Colorado (picture is of the Evergreen Lakehouse). I graduated in 2012 from CU Boulder with a B.A. in Environmental Science. I had a hard time finding work in that field so I ended up pursuing my passion of becoming a professional bowler for the next three years. After doing that for a while I decided I wanted a more challenging and fulfilling career so I went to Galvanize and became a web developer. Checkout my work if you dare.</p>
</div>
<div class='pic'>
  <img style= class='evergreen' src="../images/evergreen.jpeg" alt="" />
</div>
