<div class='text'>
  <p class='info'>Bacon ipsum dolor amet jerky pork belly cupim, leberkas cow ribeye chicken andouille. Capicola t-bone short loin pork loin shank ribeye corned beef porchetta sausage leberkas pastrami ball tip. Shoulder capicola jowl brisket turducken. Cow pastrami kevin flank, chuck landjaeger prosciutto. Shoulder sausage chuck tri-tip bacon.

  Sirloin flank doner, short loin salami meatball biltong ball tip pork chop hamburger fatback boudin sausage prosciutto. Meatloaf bacon shoulder picanha. Shoulder pork chop ball tip, kevin sausage meatloaf ham hock. Chuck beef ribs porchetta beef tail pastrami kielbasa ham ground round brisket andouille. Brisket tri-tip landjaeger chuck rump, turducken tenderloin pig capicola.</p>
</div>
<div class='pic'>
  <img class='evergreen' src="../images/evergreen.jpeg" alt="" />
</div>
