<div id="slide1" class="slide">
  <div class="title">
    <h1><u>Bowling Behind the Scenes</u></h1>
    <p>This was my final project during my time at Galvanize. The goal of the project was to teach the user how the scoring system works in bowling. There is also a scoreboard feature built with socket.io. The point of this is to allow several users to keep track of their scores even if they are not bowling in the same place. Checkout the deployed version <a style='color:#923e23;' href="http://bowlingscore.herokuapp.com/#/"><u>here</u></a> and the code <a style='color:#923e23;' href="https://github.com/scottmc526/capstone_project"><u>here</u></a>.</p>
  </div>
    <img class='workPic' src="../images/capstone.png">
    <img class='workPic' src="../images/capstone2.png">
</div>

<div id="slide2" class="slide">
  <div class="title">
    <h1><u>Tea Shopping</u></h1>
    <p>This is a mock application for a site that sells various kinds of tea. The user is able to select different teas and quantities and add them to a shopping cart. Then the user can proceed to a checkout screen and see their total. This app uses Angular.js and Bootstrap. Deployed site <a style='color:#fd644d' href="https://scott-shopping-cart.firebaseapp.com/#/"><u>here</u></a> and code <a style='color:#fd644d' href="https://github.com/scottmc526/angular_pt2/tree/master/shopping_cart/public"><u>here</u></a>.</p>
  </div>
  <img class='workPic' src="../images/teaApp.png">
  <img class='workPic' src="../images/teaApp2.png">
</div>

<div id="slide3" class="slide">
  <div class="title">
    <h1><u>Carefree Dental</u></h1>
    <p>This is a mock dental savings calculator. The user can select the appropriate amount of family members and a table is generated. The user can then select various services and see an updating total that shows how much they would save by switching to Carefree Dental. The savings data is currently fake but it is developed in a way that would allow real data to be implemented easily. Deployed <a style='color:#9e50b5' href="https://bkmedia.firebaseapp.com/#/"><u>here</u></a>, code <a style='color:#9e50b5' href="https://github.com/scottmc526/bkmedia"><u>here</u></a>.</p>
  </div>
    <img class='workPic' src="../images/carefree.png">
    <img class='workPic' src="../images/carefree2.png">
</div>
