<div id="slide1" class="slide">
  <div class="title">
    <h1><u>Capstone Project</u></h1>
    <p>This was my final project during my time at Galvanize. The goal of the project was to teach the user how the scoring system works in bowling. There is also a scoreboard feature built with socket.io. The point of this is to allow several users to keep track of their scores even if they are not bowling in the same place. Checkout the deployed version <a style='color:#923e23;' href="http://bowlingscore.herokuapp.com/#/"><u>here</u></a> and the code <a style='color:#923e23;' href="https://github.com/scottmc526/capstone_project"><u>here</u></a>.</p>
  </div>
    <img class='workPic' src="../images/capstone.png">
    <img class='workPic' src="../images/capstone2.png">
</div>

<div id="slide2" class="slide">
  <div class="title">
    <h1>Slide 2</h1>
    <p>Lorem ipsum dolor sit amet, in velit iudico mandamus sit, persius dolorum in per, postulant mnesarchum cu nam. Malis movet ornatus id vim, feugait detracto est ea, eam eruditi conceptam in. Ne sit explicari interesset. Labores perpetua cum at. Id viris docendi denique vim.</p>
  </div>
  <img class='workPic' src="http://lorempixel.com/640/4#923e23bstract/6/">
  <img class='workPic' src="http://lorempixel.com/640/480/abstract/6/">
</div>

<div id="slide3" class="slide">
  <div class="title">
    <h1>Slide 3</h1>
    <p>Lorem ipsum dolor sit amet, in velit iudico mandamus sit, persius dolorum in per, postulant mnesarchum cu nam. Malis movet ornatus id vim, feugait detracto est ea, eam eruditi conceptam in. Ne sit explicari interesset. Labores perpetua cum at. Id viris docendi denique vim.</p>
  </div>
    <img class='workPic' src="http://lorempixel.com/640/480/abstract/6/">
    <img class='workPic' src="http://lorempixel.com/640/480/abstract/6/">
</div>
