<div id="slide1" class="slide">
  <div class="title">
    <h1 class='info'>Capstone Project</h1>
    <p>Lorem ipsum dolor sit amet, in velit iudico mandamus sit, persius dolorum in per, postulant mnesarchum cu nam. Malis movet ornatus id vim, feugait detracto est ea, eam eruditi conceptam in. Ne sit explicari interesset. Labores perpetua cum at. Id viris docendi denique vim.</p>
  </div>
    <img class='workPic' src="../images/capstone.png">
    <img class='workPic' src="../images/capstone2.png">
</div>

<div id="slide2" class="slide">
  <div class="title">
    <h1>Slide 2</h1>
    <p>Lorem ipsum dolor sit amet, in velit iudico mandamus sit, persius dolorum in per, postulant mnesarchum cu nam. Malis movet ornatus id vim, feugait detracto est ea, eam eruditi conceptam in. Ne sit explicari interesset. Labores perpetua cum at. Id viris docendi denique vim.</p>
  </div>
  <img class='workPic' src="http://lorempixel.com/640/480/abstract/6/">
  <img class='workPic' src="http://lorempixel.com/640/480/abstract/6/">
</div>

<div id="slide3" class="slide">
  <div class="title">
    <h1>Slide 3</h1>
    <p>Lorem ipsum dolor sit amet, in velit iudico mandamus sit, persius dolorum in per, postulant mnesarchum cu nam. Malis movet ornatus id vim, feugait detracto est ea, eam eruditi conceptam in. Ne sit explicari interesset. Labores perpetua cum at. Id viris docendi denique vim.</p>
  </div>
    <img class='workPic' src="http://lorempixel.com/640/480/abstract/6/">
    <img class='workPic' src="http://lorempixel.com/640/480/abstract/6/">
</div>
